.plot {
  width: 600px;
  height: 250px;
}

#chart-container {
  display: grid;
}

.video-send-bps-container {
  grid-column: 1;
  grid-row: 1;
}

.video-recv-bps-container {
  grid-column: 2;
  grid-row: 1;
}

.video-send-loss {
  grid-column: 1;
  grid-row: 2;
}

.video-recv-loss {
  grid-column: 2;
  grid-row: 2;
}
