{% extends "base.html" %}

{% block content %}
<button id="start-call" onclick="startCallAndJoin()">start call</button>
<p id="call-share-text" style="visibility: hidden">
    Share this link to have others join your call!<br>
    <a id="call-url"></a>
</p>
<script src="{{ url_for('static', filename='call.js') }}"></script>
<script>
    // one benefit of this templating is that we can rely on the server to tell
    // us what the full Daily URL is. Otherwise, we'd have to hardcode
    // "https://rory.daily.co"
    // (or find another way to communicate the Daily URL to the frontend)
    let dailyUrl = {% if roomUrl is not none %} "{{roomUrl}}" {% else %} undefined {% endif %};
    let callFrame, roomName, sessionId;
    dailyUrl && joinCall(dailyUrl);
</script>
{% endblock %}