<!DOCTYPE html>
<html>

<body>
    <h3>Hello! Welcome to Rory's Video Call Service (working title)</h3>
    <p>Please visit one or both of our two pages:</p>
    <p>- <a href="{{ url_for('routes.start_call_page') }}">video calls</a></p>
    <p>- <a href="{{ url_for('routes.show_stats') }}">video call statistics</a></p>
</body>

</html>