{% extends "base.html" %}

{% block content %}
<label for="call-select">choose a call, see some stats:</label>
<select id="call-select">
    <option selected value="skip">select a call from this list</option>
    {% for call in calls %}
    <option value="{{ call }}">{{ call }}</option>
    {% endfor %}
</select>

<div id="chart-container">
    <div class="video-send-bps-container">
        <label>videoSendBitsPerSecond</label>
        <div id="videoSendBitsPerSecond" class="plot"></div>
    </div>
    <div class="video-recv-bps-container">
        <label>videoRecvBitsPerSecond</label>
        <div id="videoRecvBitsPerSecond" class="plot"></div>
    </div>
    <div class="video-send-loss">
        <label>videoSendPacketLoss</label>
        <div id="videoSendPacketLoss" class="plot"></div>
    </div>
    <div class="video-recv-loss">
        <label>videoRecvPacketLoss</label>
        <div id="videoRecvPacketLoss" class="plot"></div>
    </div>
</div>
<script src="https://cdn.plot.ly/plotly-2.3.0.min.js"></script>
<script src="{{ url_for('static', filename='stats.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stats.css') }}">
{% endblock %}